.banner img {
  width: 100%;
}
.main {
  margin-top: 40px;
  line-height: 1.4;
}
.wbCtx .hd h3 {
  font-size: 40px;
  color: #005eb8;
  margin-top: -10px;
}
.wbCtx .hd p.date {
  font-weight: 600;
  font-size: 14px;
  color: #005eb8;
  padding-top: 20px;
}
.wbCtx .bd h4 {
  margin: 20px 0;
}
.wbCtx .bd p {
  text-align: justify;
  line-height: 23px;
  font-size: 17px;
  margin: 20px 0;
}
