section.g_article
    h1.g_article_title Single Page Module
    article.g_article_context
        h1 Single Page Module
        h2 Single Page Module
        h3 Single Page Module
        h4 Single Page Module
        h5 Single Page Module
        h6 Single Page Module
        p Offsetting is only permitted with undisputed or legally established Offsetting is only permitted with undisputed or legally established Offsetting is only permitted with undisputed or legally established Offsetting is only permitted with undisputed or legally established Offsetting is only permitted with undisputed or legally established Offsetting is only permitted with undisputed or legally established Offsetting is only permitted with undisputed or legally established
        p Offsetting is only permitted with undisputed or legally established Offsetting is only permitted with undisputed or legally established Offsetting is only permitted with undisputed or legally established Offsetting is only permitted with undisputed or legally established Offsetting is only permitted with undisputed or legally established Offsetting is only permitted with undisputed or legally established Offsetting is only permitted with undisputed or legally established