footer.footer.container
    p.hidden-md.hidden-lg.hidden-sm
        a.icon.UK(href='')
        a.icon.CN(href='')
    p
        a Imprint
        |&nbsp;|&nbsp;
        a Privacy
        | &nbsp;|&nbsp;
        a Terms & Conditions