.g-listbox
    .row
        .col-md-12
            h3 Further Informationen:
        .col-md-6
            a.item.link(href="") Grund- und Zusatzaustattungen
        .col-md-6
            a.item.link(href="") Grund- und Zusatzaustattungen
        .col-md-6
            a.item.download(href="") 3SideView_MTO.PDF [375 kb]
        .col-md-6
            a.item.download(href="") 3SideView_MTO.PDF [375 kb]