.wbGallery
    .col-sm-4.col-md-4
        a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
            img(src="../uploads/250x250.jpg",alt="")
    .col-sm-4.col-md-4
        a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
            img(src="../uploads/250x250.jpg",alt="")
    .col-sm-4.col-md-4
        a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
            img(src="../uploads/250x250.jpg",alt="")
    .col-sm-4.col-md-4
        a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
            img(src="../uploads/250x250.jpg",alt="")
    .col-sm-4.col-md-4
        a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
            img(src="../uploads/250x250.jpg",alt="")
    .col-sm-4.col-md-4
        a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
            img.img-responsive(src="../uploads/250x250.jpg",alt="")
    .col-sm-4.col-md-4
        a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
            img(src="../uploads/250x250.jpg",alt="")
    .col-sm-4.col-md-4
        a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
            img(src="../uploads/250x250.jpg",alt="")
    .col-sm-4.col-md-4
        a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
            img(src="../uploads/250x250.jpg",alt="")