.home-thumbnail
    .row
        .col-md-6.col-sm-6.col-xs-12
            img.home-thumbnail-photo.img-responsive(src='../uploads/home_thumb1.jpg', alt='')
        .col-md-6.col-sm-6.col-xs-12
            h3
                img.img-responsive(src='../images/home/thumbnail1.png', alt='')
            p The MTOsport is the logical development of our successful MT03. There are now more than 800 gyroplanes used successfully worldwide.
            p.view
                a(href='') view Model
