section.bgCarousel
    .carousel.slide#myCarousel
        .carousel-inner
            .item.active(style="background-image: url('../uploads/slider_home_1.png');")
            .item(style="background-image: url('../uploads/slider_home_2.png');")
            .item(style="background-image: url('../uploads/slider_home_3.png');")
    img.mask-triangle.img-responsive(src="../images/banner/mask-triangle.png",alt="")
    .mask-half