section.banner
    .container
        .row.items
            a.carousel-control.hidden-xs.left(href='#myCarousel', data-slide='prev')
            a.carousel-control.hidden-xs.right(href='#myCarousel', data-slide='next')
            .col-lg-6.col-md6.col-sm-6.col-xs-6
                .item.active.item1
                    .txt
                        h2 The passion of flying.
                        p
                            a.popup-video(href='http://player.youku.com/embed/XMTI2MzUyMzM4NA==') Film ab!&nbsp;&nbsp;
                                img(style="width: 3vw;",src='../images/banner/video.png')
                .item.item2
                    .txt
                        p 2016: Ready to take off in China! &ndash; Our new strategy for China
                .item.item3
                    .txt
                        p
                            span &ldquo;Intensiver kann man Freiheit nicht erleben als im Gyrocopter.&rdquo;
                        p John Doe &ndash; AutoGyro-Mitarbeiter