.form-group
    input#username.form-control(type="text",placeholder="Name")
.form-group
    input#email.form-control(type="text",placeholder="E-Mail")
.form-group
    input#phone.form-control(type="text",placeholder="Phone")
.form-group
    input#subject.form-control(type="text",placeholder="Subject")
.form-group
    textarea#inquiry.form-control(placeholder='Your inquiry',style='height: 10em;')
input.btn.btn-default.pull-right(type="submit",value="send")