.form-group
    input#username.form-control(type="text",placeholder="User Name")
.form-group
    input#password.form-control(type="text",placeholder="Password")
input.btn.btn-default.pull-right(type="submit",value="Login")