section.ag-navbar.clearfix.hidden-xs
    .ag-navbar-top
        .layout.clearfix
            a.icon.UK(href='')
            a.icon.CN(href='')
    .ag-navbar-bd
        .form-group.ag-navbar-searchbox
            input.form-control.txt.txt-search(type='text', placeholder='Search')
            input(type='submit', value='')
        ul.list-group
            li.list-group-item
                a(href='') Partner Login
                span.badge.icon1
            li.list-group-item
                a(href='') Customer Login
                span.badge.icon2
                ul
                    li
                        a(href='') item
                    li
                        a(href='') item
                    li
                        a(href='') item
                    li
                        a(href='') item
                    li
                        a(href='') item
                    li
                        a(href='') item
            li.list-group-item
                a(href='') Service &amp; Maintenance
                span.badge.icon3
            li.list-group-item
                a(href='') Events
                span.badge.icon4
            li.list-group-item
                a(href='') Downloads
                span.badge.icon5
            li.list-group-item
                a(href='') Press
                span.badge.icon6
            li.list-group-item
                a(href='') Partner Links
                span.badge.icon7
            li.list-group-item
                a(href='') Inquiries
                span.badge.icon8
            li.list-group-item
                a(href='') Contact
                span.badge.icon9
        .form-group
            input.form-control.txt.txt-user(type='text', placeholder='Username')
        .form-group
            input.form-control.txt.txt-password(type='text', placeholder='Password')
        .form-group
            a.btn-login(href='')
                b
                | Partner Login