.ag-nav
    .container
        a.logo.pull-left(href="")
            img(height="40",src="../images/nav/logo.png",alt="")
        ul.hidden-xs.pull-right.clearfix
            li
                a(href="#") About us
                ul
                    li
                        a(href="#") Distribution Partners
                    li
                        a(href="#") Flight schools
                    li
                        a(href="#") Maintenance Partners
            li
                a(href="#") Gyroplanes
                ul
                    li
                        a(href="#") Distribution Partners
                    li
                        a(href="#") Flight schools
                    li
                        a(href="#") Maintenance Partners

            li
                a(href="#") Locations & Partners
                ul
                    li
                        a(href="#") Distribution Partners
                    li
                        a(href="#") Flight schools
                    li
                        a(href="#") Maintenance Partners
        ul.item-parts.hidden-xs
            li
                a(href="#")
                    img(height="10",src="../images/nav/1.png")
            li
                a(href="#")
                    img(height="10",src="../images/nav/2.png")
            li
                a(href="#")
                    img(height="10",src="../images/nav/3.png")
        .icon-item.pull-right.hidden-md.hidden-lg.hidden-sm
            a.icon.lock-sg.pull-left(href="javascript:;")
            a.icon.search-sg.pull-left(href="javascript:;")
            a.icon.menu-sg.pull-left(href="javascript:;")
        .nav-bar.hidden-md.hidden-lg.hidden-sm
            ul.m-s
                li
                    .form-group.ag-navbar-searchbox
                        input.form-control.txt.txt-search(type="text",placeholder="Search")
                        input(type="submit",value="")
            ul.m-m
                li
                    a(href="#")
                        img(height="10",src="../images/nav/1.png")
                li
                    a(href="#")
                        img(height="10",src="../images/nav/2.png")
                li
                    a(href="#")
                        img(height="10",src="../images/nav/3.png")
            ul.m-m
                li.drop
                    a(href="javascript:;") About us
                    ul
                        li
                            a(href="") title
                li
                    a(href="") Gyroplanes
                li
                    a(href="") Locations & Partners
            ul.m-m
                li
                    a.icon1(href="") Partner Login
                li
                    a.icon2(href="") Customer Login
                li
                    a.icon3(href="") Service &amp; Maintenance
                li
                    a.icon4(href="") Events
                li
                    a.icon5(href="") Downloads
                li
                    a.icon6(href="") Press
                li
                    a.icon7(href="") Partner Links
                li
                    a.icon8(href="") Inquiries
                li
                    a.icon9(href="") Contact
