.wbSwiper.swiper-container
    .swiper-wrapper
        .swiper-slide
            img(src="../uploads/mtosport_slider1.jpg",alt="")
        .swiper-slide
            img(src="../uploads/mtosport_slider1.jpg",alt="")
        .swiper-slide
            img(src="../uploads/mtosport_slider1.jpg",alt="")
        .swiper-slide
            img(src="../uploads/mtosport_slider1.jpg",alt="")
        .swiper-slide
            img(src="../uploads/mtosport_slider1.jpg",alt="")
        .swiper-slide
            img(src="../uploads/mtosport_slider1.jpg",alt="")
    .swiper-button-next
        b
    .swiper-button-prev
        b