.thumbnail
    .row
        .col-md-4.col-sm-4.col-xs-12
            img.home-thumbnail-photo.img-responsive(src='../uploads/home_thumb1.jpg', alt='')
        .col-md-8.col-sm-8.col-xs-12
            h3 Article Title number
            p
                a PDF Download