.form-group
    input.form-control(type="text",placeholder="Customer No.")
.row
    .col-md-6
        .form-group
            input.form-control(type="text",placeholder="Customer First Name")
    .col-md-6
        .form-group
            input.form-control(type="text",placeholder="Customer Last Name")
.form-group
    input.form-control(type="text",placeholder="Customer Adress")
h3 Company Information
.form-group
    input.form-control(type="text",placeholder="Company Name")
.form-group
    input.form-control(type="text",placeholder="Company Adress")
.form-group
    input.form-control(type="text",placeholder="Company Business")
h3 Aircraft Information
.form-group
    input.form-control(type="text",placeholder="Aircraft Serial No.")
.form-group
    input.form-control(type="text",placeholder="Engine Serial No.")
.row
    .col-md-6
        .form-group
            input.form-control(type="text",placeholder="Date Of Purchase")
    .col-md-6
        .form-group
            input.form-control(type="text",placeholder="Aircraft Location")
    .col-md-6
        .form-group
            input.form-control(type="text",placeholder="Aircraft Application")
    .col-md-6
        .form-group
            input.form-control(type="text",placeholder="Application Locations")
    .col-md-6
        .form-group
            input.form-control(type="text",placeholder="Last Maintenance Date")
    .col-md-6
        .form-group
            input.form-control(type="text",placeholder="Maintained By")
input.btn.btn-default.pull-right(type="submit",value="Register Now")