h2.title {
  font-size: 44px;
  color: #005eb8;
}
h3.title {
  font-size: 30px;
  color: #005eb8;
}
.banner img {
  width: 100%;
}
.main {
  margin-top: 40px;
  line-height: 1.4;
}
.wbCtx {
  text-align: justify;
  font-size: 17px;
}
.wbCtx h2 {
  font-size: 44px;
  color: #005eb8;
  margin: 35px 0;
}
.wbCtx h4 {
  font-size: 18px;
  color: #005eb8;
}
.wbCtx p {
  margin: 20px 0;
}
