h2.title {
  font-size: 44px;
  color: #005eb8;
}
h3.title {
  font-size: 30px;
  color: #005eb8;
}
.banner img {
  width: 100%;
}
.main {
  margin-top: 40px;
  line-height: 1.4;
}
.wbGallery img {
  width: 100%;
  display: block;
}
