html {
  background: transparent url('../images/calidus/bg.png') repeat-x 0 0;
}
body {
  background: transparent no-repeat 50% 0;
}
.banner .logo {
  margin-top: 150px;
  margin-bottom: 20px;
}
.banner .list-group {
  color: #54585a;
}
.banner .list-group .list-group-item {
  background-color: transparent;
  font-size: 24px;
  padding: 21px 15px;
  border-width: 0 0 2px 0;
  border-color: #54585A;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.banner .list-group .list-group-item a {
  color: #54585a;
}
.banner .list-group .list-group-item a:hover {
  text-underline: none;
}
.banner .list-group .list-group-item .badge {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.banner .list-group .list-group-item .badge.icon1 {
  background-image: url('../images/calidus/banner_icon1.png');
}
.banner .list-group .list-group-item .badge.icon2 {
  background-image: url('../images/calidus/banner_icon2.png');
}
.main {
  margin-top: 70px;
  line-height: 1.4;
}
.main .wbAbout {
  font-size: 17px;
  padding-top: 20px;
}
.main .wbAbout h3 {
  font-size: 44px;
  color: #005eb8;
  padding: 18px 0;
}
.main .wbAbout p {
  text-align: justify;
}
.main .wbSwiper {
  margin-top: 30px;
}
.main .wbSwiper .swiper-container {
  background-color: #595858;
  padding: 20px;
}
.main .wbSwiper .swiper-container .swiper-slide {
  width: 300px;
}
.main .wbSwiper .swiper-container .swiper-slide img {
  border: solid 2px #fff;
}
.main .wbSwiper .swiper-container .swiper-button-prev,
.main .wbSwiper .swiper-container .swiper-button-next {
  background: repeat-y 0 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: 100px;
}
.main .wbSwiper .swiper-container .swiper-button-prev b,
.main .wbSwiper .swiper-container .swiper-button-next b {
  background: no-repeat 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
}
.main .wbSwiper .swiper-container .swiper-button-prev {
  background-image: url('../images/calidus/slider-mask-l.png');
  background-position: 100% 0;
  left: 0;
}
.main .wbSwiper .swiper-container .swiper-button-prev b {
  background-image: url('../images/banner/arrow-l.png');
}
.main .wbSwiper .swiper-container .swiper-button-next {
  background-image: url('../images/calidus/slider-mask-r.png');
  background-position: 0 0;
  right: 0;
}
.main .wbSwiper .swiper-container .swiper-button-next b {
  background-image: url('../images/banner/arrow-r.png');
}
.main .wbInfo h3 {
  line-height: 2.5;
  font-size: 30px;
  color: #005eb8;
}
.main .wbInfo td {
  font-size: 17px;
  color: #565859;
  width: 50%;
}
.main .wbInfo td.tit {
  color: #54585a;
}
.main .wbFurInfo {
  background-color: #6C7073;
  color: #fff;
  padding: 0 20px;
  margin-bottom: 20px;
}
.main .wbFurInfo h3 {
  padding: 20px 0 10px;
}
.main .wbFurInfo a {
  background: transparent no-repeat 100% 50%;
  line-height: 36px;
  color: #fff;
  width: 100%;
  padding: 0 0.5em;
  margin-bottom: 20px;
  display: block;
  border: solid #fff 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main .wbFurInfo a.link {
  background-image: url("../images/calidus/arrow-r.png");
}
.main .wbFurInfo a.download {
  background-image: url("../images/calidus/download.png");
}
@media (min-width: 768px) {
  body {
    background-image: none;
  }
}
@media (min-width: 992px) {
  body {
    background-image: url('../images/calidus/bg2.png');
  }
}
