.banner {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  background-size: cover;
  height: 420px;
}
@media (max-width: 768px) {
  .banner {
    height: 280px;
  }
}
body {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
}
.main {
  padding-top: 40px;
}
.main h3 {
  font-size: 40px;
  color: #005eb8;
  padding-left: 15px;
  padding-bottom: 15px;
}
.main h3.pgtit {
  padding-top: 20px;
}
.main p {
  text-align: justify;
}
@media (max-width: 768px) {
  .main {
    padding-top: 0;
  }
  .main h3.pgtit {
    padding-top: 0;
  }
  .main .wbGallery img {
    width: 100%;
  }
}
