.g-tool-menu.list-group {
  color: #54585a;
}
.g-tool-menu.list-group .list-group-item {
  background-color: transparent;
  font-size: 24px;
  padding: 21px 15px;
  border-width: 0 0 2px 0;
  border-color: #54585A;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.g-tool-menu.list-group .list-group-item a {
  color: #54585a;
}
.g-tool-menu.list-group .list-group-item a:hover {
  text-underline: none;
}
.g-tool-menu.list-group .list-group-item .badge {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.g-tool-menu.list-group .list-group-item .badge.icon1 {
  background-image: url('../../images/pdtdtl/banner_icon1.png');
}
.g-tool-menu.list-group .list-group-item .badge.icon2 {
  background-image: url('../../images/pdtdtl/banner_icon2.png');
}
body {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
}
.main .logo {
  margin-top: 150px;
}
.main h3 {
  font-size: 40px;
  color: #005eb8;
  padding: 18px 0;
}
.main p {
  text-align: justify;
}
