@import "includes/g-videobox.less";

body {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
}

.main {
  padding-top: 40px;
  h1{
    font-size: 40px;
    color: #005eb8;
    &.pgtit {
      padding-top: 20px;
    }
  }
  h3 {
    color: #005eb8;
  }
}

@import "includes/g-banner.less";