body {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: initial;
}

.main {
  .logo {
    margin-top: 150px;
  }
  h1.pgtit {
    font-size: 40px;
    color: #005eb8;
    padding: 18px 0;
    padding-top: 25px;
  }
  p {
    text-align: justify;
  }
  .wbGallery {
    img {
      width: 100%;
    }
  }
}

@import "includes/g-tool-menu.less";

.g-tool-menu {
  margin-top: 25px;
  margin-bottom: 90px;
}

@media (max-width: 768px) {

  body {
    background-position: 0 0;
    background-size: auto 330px;
  }

  .main {
    .logo {
      margin-top: 230px;
    }
    .pgtit {
      padding-top: 0;
    }
    .g-tool-menu {
      margin-top: 25px;
      margin-bottom: 0;
    }
  }
}