@import "includes/g-tool-menu.less";

body {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
}

.main {
  .logo {
    margin-top: 150px;
  }
  h3 {
    font-size: 40px;
    color: #005eb8;
    padding: 18px 0;
  }
  p {
    text-align: justify;
  }
}