body {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: initial;
}
.main .logo {
  margin-top: 150px;
}
.main h1.pgtit {
  font-size: 40px;
  color: #005eb8;
  padding: 18px 0;
  padding-top: 25px;
}
.main p {
  text-align: justify;
}
.main .wbGallery img {
  width: 100%;
}
.g-tool-menu.list-group {
  color: #54585a;
}
.g-tool-menu.list-group .list-group-item {
  background-color: transparent;
  font-size: 20px;
  padding: 21px 15px;
  border-width: 0 0 2px 0;
  border-color: #54585A;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.g-tool-menu.list-group .list-group-item a {
  color: #54585a;
}
.g-tool-menu.list-group .list-group-item a:hover {
  text-underline: none;
}
.g-tool-menu.list-group .list-group-item .badge {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 45px;
  height: 45px;
  margin-top: -8px;
  display: inline-block;
}
.g-tool-menu.list-group .list-group-item .badge.icon1 {
  background-image: url('../images/pdtdtl/banner_icon1.png');
}
.g-tool-menu.list-group .list-group-item .badge.icon2 {
  background-image: url('../images/pdtdtl/banner_icon2.png');
}
.g-tool-menu {
  margin-top: 25px;
  margin-bottom: 90px;
}
@media (max-width: 768px) {
  body {
    background-position: 0 0;
    background-size: auto 330px;
  }
  .main .logo {
    margin-top: 230px;
  }
  .main .pgtit {
    padding-top: 0;
  }
  .main .g-tool-menu {
    margin-top: 25px;
    margin-bottom: 0;
  }
}
