.g_article .g_article_title {
  font-size: 40px;
  color: #005eb8;
}
.g_article .g_article_context h1 {
  font-size: 30px;
  color: #005eb8;
}
.g_article .g_article_context h2 {
  font-size: 28px;
  color: #005eb8;
}
.g_article .g_article_context h3 {
  font-size: 26px;
}
.g_article .g_article_context h4 {
  font-size: 24px;
}
.g_article .g_article_context h5 {
  font-size: 22px;
}
.g_article .g_article_context h6 {
  font-size: 18px;
}
.g_article .g_article_context p {
  font-size: 16px;
}
body {
  color: #54585a;
}
.cvcf {
  display: table;
}
.cvcc {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.ag-nav {
  background: rgba(0, 72, 139, 0.85) repeat-x 0 0;
  color: #fff;
  width: 100%;
  z-index: 199;
  position: fixed;
  top: 0;
  left: 0;
}
.ag-nav ul,
.ag-nav li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ag-nav a {
  color: #fff;
}
.ag-nav a:hover {
  text-decoration: none;
}
.ag-nav .container {
  text-align: center;
}
.ag-nav .container .logo {
  padding: 10px 0;
}
.ag-nav .container .icon-item {
  padding: 10px 0;
}
.ag-nav .container .icon-item .icon {
  margin-left: 20px;
}
.ag-nav .container .icon-item .icon.lock-sg {
  margin-left: 0;
}
.ag-nav .container .icon-item .icon.menu-sg {
  margin-left: 26px;
}
.ag-nav .container > ul {
  text-align: left;
  position: relative;
}
.ag-nav .container > ul > li {
  float: left;
  position: relative;
}
.ag-nav .container > ul > li > a {
  color: #fff;
  padding: 20px 12px;
  display: inline-block;
}
.ag-nav .container > ul > li > a:hover {
  text-decoration: none;
}
.ag-nav .container > ul > li > a:focus {
  text-decoration: none;
}
.ag-nav .container > ul > li > ul {
  opacity: 0;
  position: absolute;
  left: 0;
  top: -999em;
  -webkit-transition: opacity 500ms;
}
.ag-nav .container > ul > li > ul > li {
  background: rgba(0, 72, 139, 0.85) repeat-x 0 0;
  margin: 1px 0;
}
.ag-nav .container > ul > li > ul > li > a {
  line-height: 40px;
  width: 15em;
  padding: 0 12px;
  display: inline-block;
}
.ag-nav .container > ul > li:hover > ul {
  opacity: 1;
  top: inherit;
}
.ag-nav .container > ul.item-parts {
  display: inline-block;
}
.ag-nav .container > ul.item-parts li {
  float: inherit;
  display: inline-block;
}
.ag-nav .container > ul.item-parts li a {
  padding-right: 6px;
  padding-left: 6px;
}
.ag-nav .container > ul.item-parts li:first-child a {
  padding-left: 0;
}
.ag-nav .container > ul.item-parts li:last-child a {
  padding-right: 0;
}
.ag-nav .container .nav-bar {
  background: -webkit-gradient(linear, left top, left bottom, from(#006abe), to(#0054af));
  text-align: left;
  padding: 10px 0;
  position: absolute;
  top: -999em;
  left: 20px;
  right: 20px;
  border: solid #fff 3px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
}
.ag-nav .container .nav-bar > ul {
  margin: 5px 20px;
  position: relative;
}
.ag-nav .container .nav-bar > ul > li {
  border-bottom: solid #fff 1px;
}
.ag-nav .container .nav-bar > ul > li:last-child {
  border-bottom-color: transparent;
}
.ag-nav .container .nav-bar > ul > li > a {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 20px;
  line-height: 40px;
  display: block;
}
.ag-nav .container .nav-bar > ul > li > a.icon1 {
  background-image: url("../images/navbar/icon1.png");
}
.ag-nav .container .nav-bar > ul > li > a.icon2 {
  background-image: url("../images/navbar/icon2.png");
}
.ag-nav .container .nav-bar > ul > li > a.icon3 {
  background-image: url("../images/navbar/icon3.png");
}
.ag-nav .container .nav-bar > ul > li > a.icon4 {
  background-image: url("../images/navbar/icon4.png");
}
.ag-nav .container .nav-bar > ul > li > a.icon5 {
  background-image: url("../images/navbar/icon5.png");
}
.ag-nav .container .nav-bar > ul > li > a.icon6 {
  background-image: url("../images/navbar/icon6.png");
}
.ag-nav .container .nav-bar > ul > li > a.icon7 {
  background-image: url("../images/navbar/icon7.png");
}
.ag-nav .container .nav-bar > ul > li > a.icon8 {
  background-image: url("../images/navbar/icon8.png");
}
.ag-nav .container .nav-bar > ul > li > a.icon9 {
  background-image: url("../images/navbar/icon9.png");
}
.ag-nav .container .nav-bar > ul > li ul {
  display: none;
}
.ag-nav .container .nav-bar > ul > li ul li {
  background: url("../images/navbar/arrow-r.png") no-repeat 10px 1px;
}
.ag-nav .container .nav-bar > ul > li ul li a {
  text-indent: 2.5em;
  padding-bottom: 12px;
  display: block;
}
.ag-nav .container .nav-bar > ul > li ul.active {
  display: block;
}
.ag-nav .container .nav-bar > ul > li.drop > a {
  background-image: url("../images/nav/arrow-right-sg.png");
}
.ag-nav .container .nav-bar .ag-navbar-searchbox {
  margin-bottom: 0;
  position: relative;
}
.ag-nav .container .nav-bar .ag-navbar-searchbox .txt-search {
  background-image: url("../images/navbar/search.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  height: 50px;
  padding: 14px 12px;
}
.ag-nav .container .nav-bar .ag-navbar-searchbox input[type="submit"] {
  background: none;
  background-color: transparent;
  border: none;
  display: block;
  width: 55px;
  z-index: 99;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.ag-nav .container .nav-bar.active {
  opacity: 1;
  top: 60px;
}
.ag-nav .container .nav-bar.active.mode-menu .m-m {
  display: block;
}
.ag-nav .container .nav-bar.active.mode-menu .m-s {
  display: none;
}
.ag-nav .container .nav-bar.active.mode-search .m-m {
  display: none;
}
.ag-nav .container .nav-bar.active.mode-search .m-s {
  display: block;
}
.ag-nav .icon {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 40px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
}
.ag-nav .icon.menu-sg {
  background-image: url("../images/nav/menu-sg.png");
}
.ag-nav .icon.search-sg {
  background-image: url("../images/nav/search-sg.png");
}
.ag-nav .icon.lock-sg {
  background-image: url("../images/nav/lock-sg.png");
}
.ag-navbar {
  width: 100%;
  height: 100%;
}
.ag-navbar .ag-navbar-top {
  background: url("../images/navbar/t.png") no-repeat 0 0;
  text-align: center;
  width: 145px;
  height: 46px;
  padding: 4px 4px 0 30px;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ag-navbar .ag-navbar-top .layout {
  margin: 9px auto 0;
  display: inline-block;
}
.ag-navbar .ag-navbar-top .layout .icon {
  background: no-repeat 0 0;
  width: 36px;
  height: 24px;
  float: left;
  margin: 0 5px;
  display: inline-block;
}
.ag-navbar .ag-navbar-top .layout .icon.UK {
  background-image: url("../images/navbar/UK.png");
}
.ag-navbar .ag-navbar-top .layout .icon.CN {
  background-image: url("../images/navbar/CN.png");
}
.ag-navbar .ag-navbar-bd {
  background-color: #0063bb;
  font-size: 17px;
  color: #fff;
  padding: 30px 20px 50px;
  margin-top: 46px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ag-navbar .ag-navbar-bd .ag-navbar-searchbox {
  position: relative;
}
.ag-navbar .ag-navbar-bd .ag-navbar-searchbox input[type="submit"] {
  background: none;
  background-color: transparent;
  border: none;
  display: block;
  width: 55px;
  z-index: 99;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.ag-navbar .ag-navbar-bd .txt {
  background-repeat: no-repeat;
  background-position: 100% 50%;
  height: 50px;
  padding: 14px 12px;
}
.ag-navbar .ag-navbar-bd .txt-search {
  background-image: url("../images/navbar/search.png");
}
.ag-navbar .ag-navbar-bd .txt-user {
  background-image: url("../images/navbar/user.png");
}
.ag-navbar .ag-navbar-bd .txt-password {
  background-image: url("../images/navbar/password.png");
}
.ag-navbar .ag-navbar-bd .list-group-item {
  background-color: transparent;
  padding: 15px 15px;
  border-width: 0 0 1px 0;
  border-radius: 0;
}
.ag-navbar .ag-navbar-bd .list-group-item a {
  color: #fff;
}
.ag-navbar .ag-navbar-bd .list-group-item a:hover {
  text-decoration: none;
}
.ag-navbar .ag-navbar-bd .list-group-item .badge {
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: inline-block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ag-navbar .ag-navbar-bd .list-group-item .badge.icon1 {
  background-image: url("../images/navbar/icon1.png");
}
.ag-navbar .ag-navbar-bd .list-group-item .badge.icon2 {
  background-image: url("../images/navbar/icon2.png");
}
.ag-navbar .ag-navbar-bd .list-group-item .badge.icon3 {
  background-image: url("../images/navbar/icon3.png");
}
.ag-navbar .ag-navbar-bd .list-group-item .badge.icon4 {
  background-image: url("../images/navbar/icon4.png");
}
.ag-navbar .ag-navbar-bd .list-group-item .badge.icon5 {
  background-image: url("../images/navbar/icon5.png");
}
.ag-navbar .ag-navbar-bd .list-group-item .badge.icon6 {
  background-image: url("../images/navbar/icon6.png");
}
.ag-navbar .ag-navbar-bd .list-group-item .badge.icon7 {
  background-image: url("../images/navbar/icon7.png");
}
.ag-navbar .ag-navbar-bd .list-group-item .badge.icon8 {
  background-image: url("../images/navbar/icon8.png");
}
.ag-navbar .ag-navbar-bd .list-group-item .badge.icon9 {
  background-image: url("../images/navbar/icon9.png");
}
.ag-navbar .ag-navbar-bd .list-group-item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}
.ag-navbar .ag-navbar-bd .list-group-item ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: url("../images/navbar/arrow-r.png") no-repeat 10px 50%;
  padding: 0 0 0 35px;
}
.ag-navbar .ag-navbar-bd .btn-login {
  text-align: center;
  line-height: 48px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: block;
  border: solid #fff 1px;
}
.ag-navbar .ag-navbar-bd .btn-login b {
  background: url("../images/navbar/login.png") no-repeat 0 0;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
  display: inline-block;
}
.footer {
  color: #54585a;
}
.footer .icon {
  background: no-repeat 0 0;
  width: 36px;
  height: 24px;
  margin: 0 5px;
  display: inline-block;
}
.footer .icon.UK {
  background-image: url("../images/navbar/UK.png");
}
.footer .icon.CN {
  background-image: url("../images/navbar/CN.png");
}
.footer a {
  color: #54585a;
}
@media (max-width: 768px) {
  .navbar-collapse {
    background: -webkit-gradient(linear, left top, left bottom, from(#006abe), to(#0054af));
    margin: 0 !important;
    border: solid #fff 2px;
  }
  .navbar-collapse > ul > .divider {
    height: 1px;
    margin: 9px 15px;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  .ag-nav .navbar-nav > li > .dropdown-menu {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
  .navbar-right {
    margin-right: 10px;
  }
  .navbar-nav > li > a {
    padding: 35px 8px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1280px;
  }
}
