.banner img {
  width: 100%;
}
.main {
  margin-top: 40px;
  line-height: 1.4;
}
.main .wbAbout {
  font-size: 17px;
  padding-top: 20px;
}
.main .wbAbout h3 {
  font-size: 44px;
  color: #005eb8;
  padding: 18px 0;
}
.main .wbAbout p {
  text-align: justify;
}
.main .webText {
  line-height: 1.5;
  font-size: 17px;
}
.main .webText h1 {
  font-size: 44px;
  color: #005eb8;
  padding-bottom: 15px;
}
.main .webText h4 {
  color: #005eb8;
  font-size: 17px;
}
.main .webText b {
  color: #005eb8;
}
.main .webText p {
  margin: 0;
}
.main .webText td {
  padding-right: 4em;
}
.main .webText .txt {
  padding-bottom: 30px;
}
