h3 {
  font-size: 40px;
  color: #005eb8;
}
.main {
  padding-top: 20px;
}
.wbNewsDetail .hd {
  padding-bottom: 15px;
}
.wbNewsDetail .hd h3 {
  margin-top: -10px;
}
.wbNewsDetail .hd p.date {
  font-weight: 600;
  font-size: 14px;
  color: #005eb8;
}
.wbNewsDetail p {
  text-align: justify;
}
