.banner {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  background-size: cover;
  height: 420px;
}
@media (max-width: 768px) {
  .banner {
    height: 280px;
  }
}
h3 {
  font-size: 40px;
  color: #005eb8;
}
.main {
  padding-top: 40px;
}
.wbNewsDetail .hd {
  padding-top: 40px;
  padding-bottom: 15px;
}
.wbNewsDetail .hd h3 {
  margin-top: -10px;
}
.wbNewsDetail .hd p.date {
  font-weight: 600;
  font-size: 14px;
  color: #005eb8;
}
.wbNewsDetail p {
  text-align: justify;
}
