.banner {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  background-size: cover;
  height: 420px;
}
@media (max-width: 768px) {
  .banner {
    height: 280px;
  }
}
h1 {
  font-size: 40px;
  color: #005eb8;
  padding-top: 20px;
}
.main {
  padding-top: 40px;
}
.thumbnail {
  border-width: 0 0 1px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.thumbnail h3 {
  color: #005eb8;
}
.thumbnail p {
  text-align: justify;
}
.thumbnail .more {
  text-align: right;
}
.thumbnail .more a {
  background: none;
  font-size: 16px;
  color: #005eb8;
  border: none;
}
@media (max-width: 768px) {
  .main {
    padding-top: 0;
  }
  .main .thumbnail {
    margin-bottom: 0;
  }
}
