.banner {
  text-align: center;
}
.banner img {
  margin: 0 auto;
  display: block;
}
h1 {
  font-size: 40px;
  color: #005eb8;
  padding-top: 20px;
}
.main {
  padding-top: 40px;
}
.thumbnail {
  border-width: 0 0 1px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.thumbnail h3 {
  color: #005eb8;
}
.thumbnail p {
  text-align: justify;
}
.thumbnail .more {
  text-align: right;
}
.thumbnail .more a {
  background: none;
  font-size: 16px;
  color: #005eb8;
  border: none;
}
