doctype html
html(lang="en")
    head
        include includes/meta.jade
        title product detail
        include includes/link.jade
        link(rel="stylesheet",type="text/css",href="../css/magnific-popup.css")
        link(rel="styleSheet",type="text/css",href="../css/gallery-image.css")
        include includes/script.jade
        script(src="../js/jquery.magnific-popup.min.js")
        script(src="../js/global.js")
        include includes/fixIE.jade
    body(style="background-image: url('../images/cavalon/bg2.png');")
        include includes/navigation.jade
        section.main.container
            .row
                .col-md-8
                .col-md-4
                    img.img-responsive.logo(src="../images/cavalon/logo.png")
                    include includes/g_tool_menu.jade
            .row
                .col-md-8
                    h3 MTOsport - Gallery
                    .row
                        .wbGallery
                            .col-sm-4.col-md-4
                                a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
                                    img(src="../uploads/250x250.jpg",alt="")
                            .col-sm-4.col-md-4
                                a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
                                    img(src="../uploads/250x250.jpg",alt="")
                            .col-sm-4.col-md-4
                                a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
                                    img(src="../uploads/250x250.jpg",alt="")
                            .col-sm-4.col-md-4
                                a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
                                    img(src="../uploads/250x250.jpg",alt="")
                            .col-sm-4.col-md-4
                                a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
                                    img(src="../uploads/250x250.jpg",alt="")
                            .col-sm-4.col-md-4
                                a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
                                    img(src="../uploads/250x250.jpg",alt="")
                            .col-sm-4.col-md-4
                                a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
                                    img(src="../uploads/250x250.jpg",alt="")
                            .col-sm-4.col-md-4
                                a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
                                    img(src="../uploads/250x250.jpg",alt="")
                            .col-sm-4.col-md-4
                                a.thumbnail(href="../uploads/250x250.jpg",title="text for image title")
                                    img(src="../uploads/250x250.jpg",alt="")
                .col-md-4
                    include includes/navbar.jade
        include includes/footer.jade
        script.
            $(document).ready(function () {
                $('.wbGallery').magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    tLoading: 'Loading image #%curr%...',
                    mainClass: 'mfp-img-mobile',
                    gallery: {
                        enabled: true,
                        navigateByImgClick: true,
                        preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                    },
                    image: {
                        tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                        titleSrc: function (item) {
                            return item.el.attr('title') + '<small>by autoGyro</small>';
                        }
                    }
                });
            });