doctype html
html(lang="en")
    head
        include includes/meta.jade
        title index
        include includes/link.jade
        link(rel="stylesheet",type="text/css",href="../css/magnific-popup.css")
        link(rel="styleSheet",type="text/css",href="../css/index.css")
        include includes/script.jade
        script(src="../js/jquery.magnific-popup.min.js")
        script(src="../js/global.js")
        include includes/fixIE.jade
    body
        include includes/navigation.jade
        include includes/index_bgCarousel.jade
        include includes/index_banner.jade
        section.main.container
            .row
                .col-md-8.reference
                    include includes/home-thumbnail.jade
                    include includes/home-thumbnail.jade
                    include includes/home-thumbnail.jade
                    .row
                        .col-md-6
                            include includes/home-article.jade
                        .col-md-6
                            include includes/home-article.jade
                .col-md-4
                    include includes/navbar.jade
        include includes/footer.jade
        script.
            var $carousel1 = $("#myCarousel"),
                    $carousel_items = $(".banner .item");
            $(document).ready(function () {
                $carousel1.carousel({});
                $carousel1.on("slid.bs.carousel", function () {
                    $carousel_items.removeClass("active");
                    $($carousel_items[$carousel1.find(".active").index()]).addClass("active");
                });
                $carousel1.carousel(0);
                $('.popup-video').magnificPopup({
                    type: 'iframe'
                });
            });