doctype html
html(lang="en")
    head
        include includes/meta.jade
        title product detail
        include includes/link.jade
        link(rel="stylesheet",type="text/css",href="../css/swiper.min.css")
        link(rel="styleSheet",type="text/css",href="../css/productDetail.css")
        include includes/script.jade
        script(src="../js/swiper.jquery.min.js")
        script(src="../js/global.js")
        include includes/fixIE.jade
    body(style="background-image: url('../images/cavalon/bg2.png');")
        include includes/navigation.jade
        section.main.container
            .row
                .col-md-8
                .col-md-4
                    img.img-responsive.logo(src="../images/cavalon/logo.png")
                    include includes/g_tool_menu.jade
            .row
                .col-md-8
                    include includes/home-thumbnail.jade
                    include includes/home-thumbnail.jade
                    include includes/home-thumbnail.jade
                    .row
                        .col-md-6
                            include includes/home-article.jade
                        .col-md-6
                            include includes/home-article.jade
                .col-md-4
                    include includes/navbar.jade
        include includes/footer.jade
        script.
            var $carousel1 = $("#myCarousel"),
                    $carousel_items = $(".banner .item");
            $(document).ready(function () {
                $carousel1.carousel({
                    interval: false
                });
                $carousel1.on("slid.bs.carousel", function () {
                    $carousel_items.removeClass("active");
                    $($carousel_items[$carousel1.find(".active").index()]).addClass("active");
                });
                $carousel1.carousel(0);
                $('.popup-video').magnificPopup({
                    type: 'iframe'
                });
            });